.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 20px;
    border: 1px solid #5d6aae;
    border-radius: 8px;
    background: #97acff;
    background: -webkit-gradient(linear, left top, left bottom, from(#97acff), to(#5d6aae));
    background: -moz-linear-gradient(top, #97acff, #5d6aae);
    background: linear-gradient(to bottom, #97acff, #5d6aae);
    -webkit-box-shadow: #8b9eff 0px 0px 40px 0px;
    -moz-box-shadow: #8b9eff 0px 0px 40px 0px;
    box-shadow: #8b9eff 0px 0px 40px 0px;
    text-shadow: #3a426d 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid ##7484da;
    background: #b5ceff;
    background: -webkit-gradient(linear, left top, left bottom, from(#b5ceff), to(#707fd1));
    background: -moz-linear-gradient(top, #b5ceff, #707fd1);
    background: linear-gradient(to bottom, #b5ceff, #707fd1);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #5d6aae;
    background: -webkit-gradient(linear, left top, left bottom, from(#5d6aae), to(#5d6aae));
    background: -moz-linear-gradient(top, #5d6aae, #5d6aae);
    background: linear-gradient(to bottom, #5d6aae, #5d6aae);
}
